/*
    Document   : style
    Created on : Jul 1, 2015, 5:03:03 PM
    Author     : phuongtv2
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background: #e2e2e2 !important;
}
#myApp-wrapper{
    background: #fff;
}
#myApp-wrapper .img-responsive {
    margin: 0 auto;
    height: 240px;
    width: 354px;
}
#myApp-wrapper .text-muted {
    float: right;
    padding: 10px 0 0 0;
    font-size : 10px;
}
#myApp-wrapper .btn-success {
    background-color: #8cc63f !important;
    border-color: #8cc63f !important;
}
#myApp-wrapper label {
    font-weight: normal;
    opacity: 0.5
}
#myApp-wrapper .form-group {
    /*border-bottom: 1px solid #eee !important;*/
    position: relative;
}

#myApp-wrapper .input-control {
    border: 0px;
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 22px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;

}
#myApp-wrapper .input-control:focus {
    outline:none;
}
#myApp-wrapper .pull-right {
    position: absolute;
    top: 45%;
    right: 0%;
    opacity: 0.5;
    font-size : 12px;
}

#myApp-wrapper .control-label {
    font-size : 14px;
    text-align : left;
}

#backToFlowchartList {
    cursor: pointer;
}

.flowchart-checkbox {
    display: none;
}

.flowchart-img {
    width: 100%;
    height: 100%;
}

.flowchart-label {
    float: left;
}

.flowchart-label .ui-btn-inner {
    padding-right: 0;
}

.flowchart-viewimg {
    cursor: pointer;
    padding-top:15px;
}

.clearboth {
    clear: both;
}

/*.flowchart-viewimg:hover {
    border-color: #ccc;
    background: #dfdfdf;
    color: #999;
    border-radius: .1875em;
}*/
.border{
	border: 1px solid #ccc;
}

/* Fix arrow icon in number text field on FF */
input[type=number] {-moz-appearance: textfield;}

/* Fix border left for next button on footer */
.ui-block-b-border { margin-left: 1px!important; border-left: 1px solid #ccc !important; }
#global_footer { background-color: #FFF!important; }