header,
footer,
section,
article,
hgroup,
nav,
figure{display: block;}
a:hover{text-decoration: none;}
q{quotes:none;}
q:before,
q:after{content:'';}
img{border:none;}
form,
fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
.comment{
	color: #f00;
	display: block;
	font-style: normal;
	margin: 0 0 10px;
}
dl .comment{display: inline;}
.container{
	margin: 0 auto 10px;
	max-width: 900px;
}
.heading{
	background: #41adc3;
	color: #fff;
	margin: 0 0 14px;
	padding: 7px 13px 6px 13px;
	font-weight: 400px;
    vertical-align: top;
    word-wrap: break-word; 
}
.title{
	margin: 15px 0 5px;
}
#wrapper, .page-wrap{
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}
.container:after,
li:after{
	clear: both;
	content: "";
	display: block;
}
/* header styles start */
.logo{
	float: right;
}
/* header styles end */
/* main styles start */
ul{
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
ul ul{margin: 10px 0 0;}
ul.alt{margin: 0;}
ul.dotted{
	list-style: disc;
	padding-left: 30px;
}
ul.alt li{padding-bottom: 0;}
li{padding-bottom: 7px;}
dl{margin: 0;}
dl dt{
	float: left;
	margin-right: 5px;
}
dl.alt dt{float: none;}
dl.alt dd{overflow: visible;}
dl dd{
	margin: 0;
	overflow: hidden;
}
.note{
	display: block;
	margin-bottom: 5px;
}
p{margin: 0 0 10px;}
.red span{color: #f00;}
.red{color: #f00;}
.bullet-list li{
	padding-left: 40px;
	position: relative;
}
h4.alt{text-decoration: underline;}
.bullet-list li:after{
	-webkit-border-radius: 8px;
	background: #40acc3;
	border-radius: 8px;
	content: "";
	height: 8px;
	left: 19px;
	position: absolute;
	top: 4px;
	width: 8px;
}
.link,
.link a{color: #4aa6c8;}
.link a{
	text-decoration: none;
}
.link a:hover{text-decoration: underline;}
.post-title{margin: 0;}
.text{
	border: 1px solid #333;
	margin-bottom: 20px;
	padding: 10px 10px 3px;
}
.text h5{margin: 0 0 10px;}
.text p{margin: 0;}
table{border-collapse: collapse;}
.mark-table{
	width: 270px;
	margin: 15px 0;
}
.mark-table img{
	display: block;
	margin: 1px 0 0 14px;
}
table td{
	padding: 0 8px;
	width: 80px;
}
table span{
	border: 1px solid #333;
	display: inline-block;
	height: 10px;
	margin: 1px 0 -3px 13px;
	position: relative;
	width: 10px;
}
table .cell-1 span{background: #ff0102;}
table .cell-2 span{background: #00007f;}
table .cell-3 span{background: #0f0;}
table .cell-4 span{background: #fff;}
table .cell-5 span{background: #913401;}
.ill{
	-webkit-border-radius: 20px;
	background: #41adc3;
	border-radius: 20px;
	color: #fff;
	font-size: 15px;
	margin: 35px auto;
	min-height: 60px;
	padding: 17px 6px;
	text-align: center;
	vertical-align: middle;
	max-width: 123px;
}
.ill.green,
.heading.green,
.bullet-list.green li:after{background: #81b100;}
.heading.orange{background: #f2b044;}
.ill.orange{background: #f2b044;}
ol{padding-left: 30px;}
/* data table styles start */
.data-table{
	margin: 20px 0;
	width: 100%;
}
.data-table{text-align: center;}
.data-table th{height: 50px;}
.data-table td,
.data-table th{
	padding: 20px 0;
	border: 1px solid #333;
}
.data-table .bg-green{background: #00b050;}
.data-table .bg-yellow{background: #ff0;}
.data-table .bg-red{background: #f00;}
strong.note{margin-bottom: 40px;}
img.center{
	display: block;
	height: auto;
	margin: 90px auto;
	max-width: 100%;
}
/* data table styles end */
/* info table styles start */
.info-table{
	font-weight: bold;
	width: 100%;
}
.info-table td{border: 1px solid #333;}
.info-table .green{color: #00b050;}
.info-table .orange{color: #ea8e15;}
/* info table styles end */
/* main styles end */
/* media styles start */
@media only screen and (max-width:400px){
	dl dt{float: none;}
}
/* media styles end */
/* footer styles start */
#footer, .footer{
	padding-top: 20px;
	text-align: right;
}
/* footer styles end */
#documentsForm .ui-btn {
    margin-bottom: 30px;
}
#documentsForm {
    padding-bottom: 30px !important;
}